*{
    padding: 0;
    margin:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

#wrapper{
    height: 2000px;
    width: 100%;
}
.container{
    width: 85%;
    height: 100%;
    margin:0 auto;
    box-sizing: border-box;
    padding: 0;
}
header{
    height: 3%;
}
header .logo{
    width: 10%;
    box-sizing: border-box;
    height: 100%;
    float: left;
}
header .support{
    width: 13%;
    padding-top: 10px;
    padding-left: 10px;
}
header .support p{
    text-align: right;
    color: #666;
}
header .logo img{
    height: 100%;
    width: 100%;
}
header .login{
    height: 100%;
    width: 15%;
    float: right;
    border: 1px solid black
}
header button{
    width: 100%;
    height: 100%;
    background: none;
    border: none;
}
header .login h3{
    text-align: center;
}

#index1{
    height:4%;
    width: 100%;
    background: rgb(81,91,98);
}
#index1 .container{
        padding-top: 10px;
}
#index1 table{
    width: 100%;
}
#index1 table td{
    color:#fff;
}
#index1 .phong1{
    width: 30%;
}
#index1 td{
    padding-right: 5px;
}

#index1_content{
    height: 85%;
    width: 100%;
    box-sizing: border-box;
}



#index1_right{
width: 73%; 
height: 80%; float: right; 
background: #fff;
}

#index1_right #nav{
    width: 100%;
    height: 8%;
}
#nav h3{
    height: 20%;
}
#nav ul{
    width: 100%;
    height: 40%;
    border: 1px solid #9c9191;
    border-radius: 7px;
}
#nav ul li{
    float:left;
    padding:9px 24px 9px 23px;
    cursor: pointer;
}

#index1_right .itemhotel{
    width: 100%; height: 12%;
    margin-bottom: 10px;
    border-radius: 2px;
    border: 1px solid #9c9191;
    transition-property: width;
    transition-delay: 0.15s
}

.itemhotel:hover{
    box-shadow: 4px 4px 4px #9a9090;
}
.itemhotel .subitem {
height: 100%;
box-sizing: border-box;
}
.itemhotel .sub1{
padding: 0;
}
.itemhotel .subitem img{
height: 100%;
width: 100%;
cursor: pointer;
}

.itemhotel{
    cursor: pointer;
}
.itemhotel .sub2{
    background:#f7f7f7;
}

.sub3 .top p{
    text-align: right;
    color:#0283df;
    font-size: 15px;
}



